.box {
    border: thin solid black;
    padding: 20px;
    margin: 5px;
    width: 200px;
    height: 50px;
    background-color: silver;
    will-change: transform;
}

.box:hover {
    cursor: move;
    opacity: 0.8;
}

.box:active {
    background-color: gray;
    /*box-shadow: 10px 5px 5px silver;*/
}

#paths {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#paths svg {
    width: 100%;
    height: 100%;
}

#box1 {
}

#box2 {
}

#zone {
    border: thin solid gray;
    position: relative;
    padding: 10px;
    margin: 20px;
    width: 800px;
}