@import url("https://fonts.googleapis.com/css?family=Play|Roboto");

body {
    /*font-family: "Noto Serif","DejaVu Serif",serif;*/
    font-family: "Open Sans","DejaVu Sans",sans-serif;
}

.outline {
    fill: silver;
    fill-opacity: 1;
    will-change: transform;
    border-radius: 3px;
    stroke:#000000;
    stroke-width:2;
    stroke-linejoin:round;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1
}

.outline:hover {
    cursor: grab;
    fill: red;
    opacity: 0.8;
    box-shadow: 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.3);
}

.outline:active {
    background-color: gray;
    cursor: grabbing;
}

#zone {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 400px;
}

#zone svg {
    width: 800px;
    height: 400px;
}

#zone svg circle {
    visibility: hidden;
}

#box1 {
}

#box2 {
}

#zone {
    border: thin solid gray;
    position: relative;
    padding: 10px;
    margin: 20px;
    width: 800px;
}